<v-dialog v-model="dialog" persistent max-width="600px">
  <v-btn slot="activator" color="primary" dark>Configure Sever Connection</v-btn>
  <v-card>
    <v-card-title>
      <span class="headline">Server Settings</span>
    </v-card-title>
    <v-card-text>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-alert :value="socketError" color="error">
            Cannot connect to server!
          </v-alert>
          <v-flex>
            <v-select
              :items="modes"
              label="App Mode"
              v-model="defaultMode"
              box
            ></v-select>
          </v-flex>
          <v-flex xs12>
            <v-text-field box label="Server Address"  v-model="server" required></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-flex justify-center>
        <v-btn color="primary" @click="$emit('connect')">Start</v-btn>
      </v-flex>
    </v-card-actions>
  </v-card>
</v-dialog>